<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Alberto Olmo</title>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="container"> 
    <div class="row">
        <div class="col-lg-3">
            <header>
                <a href="." style="text-decoration: none;"><h1 class="logo"><span class="ltgt">[ </span>{{name}} <span class="ltgt">]</span>
                </h1></a> 
            
                <img src="/assets/imgs/me.jpg" alt="Me" class="me">
            
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" styles="font-size: 20px;">Links</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text b-0">aolmoher@asu.edu</p>
                        <a href="https://scholar.google.com/citations?user=qIYCV4sAAAAJ&hl=en" class="card-link"><i class="fas fa-graduation-cap"></i> Google Scholar</a><br>
                        <a href="https://www.linkedin.com/in/alberto-olmo/" class="card-link"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
                        <a href="https://github.com/aOlmo" class="card-link"><i class="fab fa-github"></i> GitHub</a><br>
                        <a href="https://yochan-lab.github.io/home/" class="card-link"><i class="fas fa-flask"></i> Yochan Lab</a><br>
                    </div>
                </div>
            </header>
        </div>
        <div class="col-lg-9">
            <h1>Hi planet!</h1>
            My name is <b>Alberto Olmo</b>, I am a third year PhD student at
            <a href="https://www.asu.edu/">Arizona State University</a> under the supervision of prof.
            <a href="http://rakaposhi.eas.asu.edu/">Subbarao Kambhampati</a> at the <a href="https://yochan-lab.github.io/home/">Planning and Artificial Intelligence
            lab</a>. Previously, I obtained a Master of Science in Computer Science at the <a href="https://www.uccs.edu/">University of Colorado at Colorado Springs</a>
            and a Bachelor's in Computer Science at <a href="https://www.uab.cat/enginyeria/">Universitat Autonoma de Barcelona</a>.
            <p></p>
            My broad research interests lie in Explainability of Machine Learning models and Data Biases.
            <p></p>

            <h1>Education</h1>
            <hr>
            <div class="container">
                <div class="row d-flex flex-wrap align-items-center">
                    <div class="col-md-4 py-3">
                        <img style="max-width: 70%" class="d-block mx-auto" src="/assets/imgs/asu-logo.png" alt="">
                        <div class="text-center">
                            <br>
                            <b><i>Arizona State University</i></b>
                            <br>
                            C.S. Ph.D. Student 
                            <br>
                            <span class="badge badge-light">2018 - 2023</span>
                        </div> 
                    </div>
                    <div class="col-md-4 py-3">
                        <img style="max-width: 70%" class="d-block mx-auto" src="/assets/imgs/uc-logo.png" alt="">
                        <div class="text-center">
                            <br>
                            <b><i>UC Colorado Springs</i></b>
                            <br>
                            C.S. Master's 
                            <br>
                            <span class="badge badge-light">2016 - 2017</span>
                        </div> 
                    </div>
                    <div class="col-md-4 py-3">
                        <img style="max-width: 70%" class="py-5 d-block mx-auto" src="/assets/imgs/uab-logo.png" alt="">
                        <div class="text-center">
                            <br>
                            <b><i>Universitat Autònoma de Barcelona</i></b>
                            <br>
                            C.S. Bachelor's
                            <br>
                            <span class="badge badge-light">2012 - 2016</span>
                        </div> 
                    </div>

                    <!-- <ul class="list">
                        <li class="studies"> CS PhD Student, <span class="uni">Arizona State University</span>, Arizona <i class="dates">
                            2018 - 2023</i>
                        <li class="studies"> Master of Science in Computer Science, <span class="uni">UCCS</span>, Colorado  <i class="dates">2017</i>
                        <li class="studies"> Bachelors in Computer Science, <span class="uni">Universitat Autònoma de Barcelona</span> <i class="dates">2016</i>
                    </ul> -->
                </div>
            </div>
            <h1>Publications</h1>
            <hr>
            <publications></publications>

            <h1>Experience</h1>
            <hr>
            <exp></exp>

            <h1>Honors</h1>
            <hr>
            <honors></honors>
        </div>
    </div>
    <footer>
    </footer>
</div>
</body>
