<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Alberto Olmo</title>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="wrapper">
    <header>
        <a href="."><h1 class="logo"><span class="ltgt">&lt;</span>{{name}} <span class="ltgt">></span>
        </h1></a>
        <img src="/assets/imgs/me.jpg" alt="Me" class="me">
    </header>
    <section>


        <h1>Hi planet!</h1>
        My name is Alberto Olmo, I am a third year PhD student at
        <a href="https://www.asu.edu/">Arizona State University</a> under the supervision of prof.
        <a href="http://rakaposhi.eas.asu.edu/">Subbarao
            Kambhampati</a> at the <a href="https://yochan-lab.github.io/home/">Planning and Artificial Intelligence
        lab</a>. Previously,
        I obtained a Master of Science in Computer Science at the <a href="https://www.uccs.edu/">University of Colorado
        at Colorado Springs</a>
        and a Bachelor's in Computer Science at <a href="https://www.uab.cat/enginyeria/">Universitat Autonoma de
        Barcelona </a>.
        <p></p>
        My broad research interests lie at Explainability of Machine Learning models and Data Biases.
        <p></p>

        <h1>Education</h1>
        <hr>
        <ul>
            <li> PhD Student, <span class="uni">Arizona State University</span>, Arizona <i class="dates">Joined Fall
                2018</i>
            <li> Master of Science in Computer Science, <span class="uni">UCCS</span>, Colorado  <i class="dates">2017</i>
            <li> Bachelors in Computer Science, <span class="uni">Universitat Autònoma de Barcelona</span> <i class="dates">2016</i>
        </ul>

        <h1>Publications</h1>
        <hr>
        <publications></publications>

        <h1>Experience</h1>
        <hr>
        <exp></exp>

        <h1>Honors</h1>
        <hr>
        <honors></honors>
        
    </section>
    <footer>
    </footer>

</div>
</body>
</html>