/* You can add global styles to this file, and also import other style files */
.dates {
    float: right;
  }  

.dates::after{
  float: left;
}

li {
  position: relative;
  left: -10px;
}

.background{
  background: #eef2f3; 
}  